<div class="back">
<%= image_tag("toronto2.jpg", class: :source_image)   %>
<div class="pannel panel-default banner">
	<div class="panel-body">
	<h1> Welcome to ESPE-CEPE</h1>
	<p>Where employees are united as one</p>
	<ul>
		<li><%= link_to "Sign in", new_user_session_path, :class => "btn btn-default btn-lg" %></li>
		<li><%= link_to "Join Us", new_user_registration_path, :class => "btn btn-default btn-lg"%></li>
	</ul>
	</div>
</div>
</div>